/* CSS Reset */
* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	box-sizing: border-box;
}

body {
	background-color: #e6ecf0;
	/*position: relative;*/
	/*max-width: 1170px;*/
}

p {
	color: #666666;
	font-family: Raleway, sans-serif;
}

blockquote {
	color: #474747;
	font-family: Raleway, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	color: #474747;
}

.header-bg {
	background-image: url("../img/header-bg.jpg");
	min-height: 238px;
	width: 100%;
	/*position: fixed;*/
}

header h1 {
	text-align: center;
	color: #ffffff;
	padding: 100px 0;
}

header img {
	width: 100px;
	height: auto;
	position: absolute;
	left: 50px;
	top: 201px;
	border-radius: 100%;
	z-index: 2
}

nav {
	background-color: #ffffff;
	padding-left: 370px;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
	top: 238px;
	/*position: relative;*/
	z-index: 1;
	width: 100%;
}

nav a {
	display: inline-block;
	padding: 20px 40px 20px 0;
}

main {
	/*top: 238px;*/
	/*position: relative;*/
	background-color: #e6ecf0;
	width: 100%;
	/*min-height: 595px;*/
}

.sec1 {
	max-width: 300px;
	float: left;
	padding-top: 20px;
	margin-left: 50px;
	margin-top: 50px; 
}

.sec2 {
	background-color: #ffffff;
	float: left;
	max-width: 870px;
	margin-left: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 40px;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
}

.box {
	max-width: 236px;
	float: left;
	margin-right: 40px;
	border: 1px solid #eeeeee;
}

.child {
	margin-right: 0;
}

footer {
}

footer img {
}

footer p {
}